<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        value="value"
        name="title"
        ngModel
        required
        minLength="3"
        #title="ngModel"
        placeholder="Post Title"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        minLength="3"
        #content="ngModel"
      ></textarea
      ><mat-error *ngIf="content.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
<hr />
